{% extends 'ag_menu.html.twig' %}

{% block menu %}

<li class="treeview {% if option is defined and (option == 'artists_list' or option == 'artists_create' or option == 'artists_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>artists</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'artists_list' %}class="active"{% endif %}><a href="{{ path('artists_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'artists_create' %}class="active"{% endif %}><a href="{{ path('artists_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'paintings_list' or option == 'paintings_create' or option == 'paintings_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>paintings</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'paintings_list' %}class="active"{% endif %}><a href="{{ path('paintings_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'paintings_create' %}class="active"{% endif %}><a href="{{ path('paintings_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'paintingtypes_list' or option == 'paintingtypes_create' or option == 'paintingtypes_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>paintingtypes</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'paintingtypes_list' %}class="active"{% endif %}><a href="{{ path('paintingtypes_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'paintingtypes_create' %}class="active"{% endif %}><a href="{{ path('paintingtypes_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'users_list' or option == 'users_create' or option == 'users_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>users</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'users_list' %}class="active"{% endif %}><a href="{{ path('users_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'users_create' %}class="active"{% endif %}><a href="{{ path('users_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>



{% endblock %}